/* Three column layout for Nav */
/* Responsive three column layout for Nav */
.threeCol {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.threeCol > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threeCol > div:nth-child(1),
.threeCol > div:nth-child(2) {
  flex: 1;
}
.threeCol > div:nth-child(3) {
  flex: 2;
}

@media (max-width: 900px) {
  .threeCol {
    flex-direction: column;
    min-height: unset;
  }
  .threeCol > div {
    width: 100% !important;
    max-width: 100vw;
    margin-bottom: 2rem;
  }
  .threeCol > div:nth-child(3) {
    margin-bottom: 0;
  }
}
/* Dark theme for Light menu item */
.dark-theme {
  background: #000000 !important;
}

.dark-theme .note {
  box-shadow: 0 10px 10px 2px #7a7a7a !important;
  
}
.dark-theme * {
  background-color: #ffffff !important;
  color: #000000 !important;
}

@font-face {
  font-family: "BC";
  src: local("BodoniCondC"), url("/fonts/BodoniCondC.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GI";
  src: local("GlacialIndifference-Regular"), url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
}

.articleMetadata {
  color: #727272;
  font-size: small;
}

/* Sticky Notes */

#noticeboard {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.note {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  font-family: 'GI';
  margin-bottom: 40px;
}
.note .actions {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.right {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.left {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.red {
  background: #ffa0a0;
}

.orange {
  background: #ffb169;
}

.yellow {
  background: #ffd861;
}

.green {
  background: #98dc9b;
}

.blue {
  background: #b8e3ff;
}

.purple {
  background: #d9b8ff;
}

.pink {
  background: #fbb8ff;
}

.icon {
  width: 15px;
  height: 15px;
}
